* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */
body {
	background: #f3f4f6;
	font-family: Arial, Helvetica, sans-serif;
}

.h1_principal {
	text-align: center;
	padding: 1rem 0;
	color: cadetblue;
}

.titulo {
	margin: 1rem 0;
	font-weight: 700;
	color: #00ae4f;
	display: block;
}

#contenedor_inicio {
	max-width: 1075px;
	margin: 0 auto;
	padding: 1.25rem;
}

.contenedor_seccion {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: white;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	-webkit-box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
	box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

.contenedor_seccion:not(:last-child) {
	margin-bottom: 1.5rem;
}

.div_acciones {
	display: flex;
	align-items: end;
	flex-direction: row;
	justify-content: flex-end;
}

.div_acciones > button {
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: 0.25rem;
	margin-left: 1rem;
	cursor: pointer;
}

.btn_regresar {
	background-color: #0069d9;
	color: white;
}

/* Página 404 */
#contenedor_404 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header {
	color: cadetblue;
	font-size: 15rem;
	text-align: center;
}

.subheader {
	color: cadetblue;
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

article {
	width: 80%;
	color: cadetblue;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	padding: .6rem;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}

.btn:hover {
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color: #408c99;
}

.myButton:active {
	position: relative;
	top: 1px;
}


/* Formulario de tareas */
.div_form {
	margin-bottom: 2.5rem;
}

form {
	width: 100%;
}

textarea {
	margin: 0.5rem 0;
	padding: 0.5rem;
	border: 1px solid #e5e7eb;
	border-radius: 0.25rem;
	width: 100%;
}

.div_buttons {
	display: flex;
	align-items: end;
	flex-direction: row;
	justify-content: flex-end;
}

.div_buttons > button {
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: 0.25rem;
	margin-left: 1rem;
	cursor: pointer;
}

.btn_limpiar {
	background-color: #d1d5db;
}

.btn_guardar {
	color: white;
	background-color: #00ae4f;
}